/* src\components\UI\ButtonTransparent\ButtonTransparent.module.scss */

.component {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  border: 1px solid #7e808c20;
  border-radius: 8px;
  background-color: #595e6e20;
  font-size: 16px;
  font-weight: 600;

  .icon {
    margin-top: 4px;
  }
}

.red {
  border-color: #f87d7d20;
  background-color: #f87d7d20;

  span {
    color: #ff7476;
  }
}

.purple {
  border-color: #8190fe20;
  background-color: #8190fe20;

  span {
    color: #fff;
  }
}
