/* src\components\Discord\FormSendMessageDsBot\FormSendMessageDsBot.module.scss */

.component {
  border: 1px solid #7e808c20;
  border-radius: 8px;
  background-color: #595e6e20;
  padding: 16px 22px;
  min-height: 50px;
  min-width: 100px;
}