/* src\components\UI\Transparent\InputTransparent\InputTransparent.module.scss */

.component {
  border: 1px solid #7e808c20;
  border-radius: 8px;
  background-color: #595e6e20;
  padding: 16px 22px;
}
