/* src\example\DefaultComponentInterface\InputDefault.module.scss */

.component {
  background-color: #2c2d32;
  border: 1px solid #aaafd020;
  border-radius: 8px;
  width: 926px;
  height: 570px;
}
